@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  @supports (-webkit-line-clamp: 2) {
    .truncate-line {
      overflow-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
